<!--
	This page is a pop-up rendered by mustache via PHP. We can use mustache partials here from
	the PHP side of things just because it's easier.
-->

{{>header}}

<div class="container span12">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit pagination-centered">
        <h2>Choose Your Image Below</h2>                
    </div>

    <div class="wrapper row">
        <section class="image-content span6 offset3">
			<div class="navigation">
            	<button class="btn btn-inverse prev">Previous</button>
            	<button class="btn btn-inverse next" data-nexturl="{{pagination.next_url}}">Next</button>
            </div>	
        	<article class="images">
        		<div class="selected">
		            {{#data}}
						<img src="{{images.thumbnail.url}}" data-full="{{images.standard_resolution.url}}" data-thumb="{{images.thumbnail.url}}"/>
					{{/data}}  
				</div>
			</article>  
        </section>
    </div>

{{>footer}}
